@media screen and (min-width: 1001px){
  .wrapper{
    max-width: 1180px;
    margin: auto;
  }

  .nav{
    &_wrap{
      margin: 0 10px 30px;
    }
  }

  .maincontent{
    flex-direction: column;
    margin: 0 5px;
    height: 960px;
    justify-content: flex-start;
    &_group{
      border: 10px solid transparent;
      box-sizing: border-box;
      &--num1{
        display: flex;
        width: 25%;
        height: 390px;
        flex-grow: 1;
        order: 1;
      }
      &--num2{
        width: 25%;
        height: 500px;
        flex-grow: 1;
        order: 2;
      }
      &--num3{
        display: flex;
        width: 75%;
        // height: 300px;
        flex-grow: 0;
        order: 3;
      }
      &--num4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 75%;
        // height: 570px;   
        flex-grow: 0;
        // margin-top: 20px;
        order: 4;
      }
    }
  }
  .contentBox{
    &--post2{
      height: 30%;
    }
    &--post3{
      height: 30%;
    }
    &--post4{
      height: 30%;
    }
    &--post5{
      display: flex;
      flex-direction: row-reverse;
      width: 880px;
      height: 300px;
    }
    &--post6{
      width: 70%;
      height: 570px;
    }
    &--post7{
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      width: 30%;
      
    }
    &--post8{
      width: 30%;
      // height: 25%;
    }
    &--post9{
      width: 30%;
      // height: 25%;
    }
    &_pic{
      &--post5{
        height: 100%;
        width: 400px;
      }
    }
    &_descr{
      display: flex;
      flex-direction: column;
    }
    &_descrMeta{
      margin-top: auto;
    }
  }
}