html, body, ul, li, h1 {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

body {
  background-color: #3cb371;
  font-family: 'Roboto', sans-serif; }

.wrapper {
  color: #3d3d3d; }

.title {
  color: #fff;
  text-align: center; }

.maincontent {
  display: flex;
  flex-direction: column; }

.contentBox {
  background-color: #fff; }

.title {
  font-size: 26px;
  margin: 50px auto; }

.wrapper {
  max-width: 800px;
  margin: 0 20px;
  font-size: 14px; }

.nav_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
.nav_item {
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 25px;
  line-height: 40px; }
  .nav_item--home {
    order: 2; }
  .nav_item--contacts {
    order: 3; }
  .nav_item--aboutme {
    order: 4; }
  .nav_item--partners {
    order: 5; }
  .nav_item--decor {
    display: none; }
  .nav_item--signin {
    order: 1;
    margin-bottom: 10px; }

.contentBox {
  margin-bottom: 10px; }
  .contentBox_pic {
    width: 100%; }
    .contentBox_pic--post1 {
      max-height: 470px; }
    .contentBox_pic--post5 {
      max-height: 530px; }
    .contentBox_pic--post6, .contentBox_pic--post7 {
      max-height: 400px; }
  .contentBox--post1 {
    max-height: 610px; }
  .contentBox--post2, .contentBox--post3, .contentBox--post4, .contentBox--post8, .contentBox--post9 {
    min-height: 115px; }
  .contentBox_descr {
    padding: 20px; }
  .contentBox_descrTitle {
    font-size: 18px;
    font-weight: bold; }
  .contentBox_descrText {
    margin: 15px 0; }
  .contentBox_descrMeta {
    display: flex;
    justify-content: space-between;
    font-size: 12px; }

@media screen and (min-width: 801px) {
  .wrapper {
    max-width: 1000px; }

  .title {
    font-size: 34px; }

  .nav_wrap {
    flex-direction: row;
    margin: 0 5px 30px; }
  .nav_item {
    height: 45px;
    line-height: 45px;
    border: none;
    width: 100px;
    margin: 0 5px;
    padding: 0;
    text-align: center; }
    .nav_item--home {
      order: 1; }
    .nav_item--contacts {
      order: 2; }
    .nav_item--aboutme {
      order: 3; }
    .nav_item--partners {
      order: 4; }
    .nav_item--decor {
      display: block;
      order: 5;
      flex-grow: 2;
      opacity: .4; }
    .nav_item--signin {
      order: 6; }

  .maincontent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .maincontent_group {
      width: 50%;
      height: 550px;
      border: 10px solid transparent;
      box-sizing: border-box; }
      .maincontent_group--num1 {
        order: 1; }
      .maincontent_group--num2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 3; }
      .maincontent_group--num3 {
        order: 2; }
      .maincontent_group--num4 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        order: 4; }

  .contentBox {
    margin: 0; }
    .contentBox--post1 {
      height: 100%; }
    .contentBox--post2, .contentBox--post3, .contentBox--post4 {
      height: 160px; }
    .contentBox--post5 {
      height: 100%; }
    .contentBox--post6 {
      height: 100%;
      width: 50%;
      border-right: 5px solid #3cb371;
      box-sizing: border-box; }
    .contentBox--post7 {
      height: 50%; }
    .contentBox--post7, .contentBox--post8, .contentBox--post9 {
      max-width: 50%;
      border-left: 5px solid #3cb371;
      box-sizing: border-box; }
    .contentBox--post8 {
      border-top: 10px solid #3cb371;
      border-bottom: 10px solid #3cb371;
      box-sizing: border-box; }
    .contentBox--post8, .contentBox--post9 {
      height: 25%; }
    .contentBox--post6 > .contentBox_descr, .contentBox--post7 > .contentBox_descr, .contentBox--post8 > .contentBox_descr, .contentBox--post9 > .contentBox_descr {
      padding: 10px; } }

/*# sourceMappingURL=style.css.map */
